.matrixButtons {
  margin: 5px;

}

.matrixEditor {
  margin-left: auto;
  margin-right: auto;
}


.options {
  padding: 0;
  margin: 0;
}

.options-bar {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 5px;
  background-color: rgba(48, 50, 51, 0.49);
}