
.textActionButton {
    width: fit-content;
    background-color: #3b79a5;
    padding-right: 5px;
    padding-left: 0;
    display: inline-block;
    
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    
    border-radius: 0.25rem;
    border: 1px solid black;

}

.textActionButton > button {
    background-color: 3b79a5;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 5px;

    border-left: none;
    border-top: none;
    border-bottom: none;
}

.textActionButton > input {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #73bcf0;
    color: black;
    vertical-align: middle;
}

.textActionButton > input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}



