.matrixEditor {
  margin-left: auto;
  margin-right: auto;
}

.options-bar {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 5px;
  background-color: rgba(48, 50, 51, 0.49);
}

.bigMatrixInfo {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  font-size: large;
  text-align: center;
  padding: 20px;
  background-color: rgba(48, 50, 51, 0.49);
  border-radius: 10px;
}
