.saveMatrices {
    background-color: rgba(50, 50, 50, 0.95);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 95%;
    height: fit-content;
    margin: 2.5%;
    margin-top: 10px;
    padding: 20px;
    position: relative;
}

.loginForm {
    display: block;
    margin: 0px;
    margin-bottom: 50px;
    width: fit-content;
}

.inputs {
    margin-left: 5px;
}

.text {
    margin: 0px;
    text-align: center;
}


.loginLabel {
    font-size: small;
    display: block;
    margin-top: 3px;
}

.errorLabel {
    font-size: small;
    display: block;
    margin-top: 0px;
    color: rgb(221, 158, 158);

}

.successLabel {
    font-size: small;
    display: block;
    margin-top: 0px;
    color: rgb(148, 212, 173);

}

.loginRegisterButton {
    display: block;
    margin-left: 0px;
    margin-top: 5px
}


.closeButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: fit-content;
    height: fit-content;
}

.clearButton {
    margin-left: 0px;
}

.option {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
    user-select: none;
    color: white;
    cursor: pointer;
}


.selectedOption {
    color: rgb(102, 199, 239);
}


.loginSubBox {
    border: 1px solid black;
    background: rgb(95, 95, 95);
    width: fit-content;
    padding: 10px;
    border-radius: 5px
}

.changePasswordInput {
    display: block;
}

.localWarning {
    color: rgb(250, 168, 168);
}