.floatingContainer {
  width: 100%;
  height: fit-content;
  padding: 0px;
  position: absolute;
  top: 30px;
  z-index: 10;
}

.topBar {
  width: 100%;
  height: fit-content;
  background-color: rgb(47, 45, 45);
  border-bottom: 1px solid rgb(39, 37, 37);
  display: flex;
  justify-content: center;
  position: relative;
  
}

.savingInfo {
  text-align: center;
  padding: 3px;
  margin-left: 60px;
  margin-right: 60px;
  height: fit-content;  
  display: inline-block;
  cursor: pointer;
}

.tutorialLink {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: 5px;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
}


.tutorial {
  background-color: rgba(50, 50, 50, 0.95);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 95%;
  margin: 2.5%;
  margin-top: 10px;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
}


.tutorialBody {
  margin-right: 15%;
  font-size: large;
}

.specificTutorial {
  margin-top: 1rem;
}

.tutorialList {
  list-style-type: disc;
  padding-inline-start: 40px;
}

.tutorialButton {
  margin-left: 2px;
  margin-right: 2px;
}
