
.matrixTable {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-spacing: 5px;
    border-collapse: separate;
}

.tableContainer {
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.tableRow {
    margin: 0px;
    padding: 0px;
}

.bracket {
    height: 100%;
}
.helperLeft {
    text-align: right;
    padding: 6px;
    margin-top: 5px;
    width: 300px;
    height: fit-content;
}
.helperTextLeft {
    border: 1px solid rgb(204, 190, 190);
    color: rgb(204, 190, 190);
    border-radius: 5px;
    padding: 8px;
    font-size: small
}

.arrowLeft {
    padding-left: 5px;
}


.helperRight {
    padding: 6px;
    margin-top: 5px;
    width: 300px;
    height: fit-content;
}

.helperTextRight {
    border: 1px solid rgb(213, 152, 152);
    color: rgb(213, 152, 152);
    border-radius: 5px;
    padding: 8px;
    font-size: small
}

.arrowRight {
    padding-right: 5px;

}
