.sizeInput {
    width: 25%;
    float: right;
    text-align: right;
}

.renameInput {
    width: 25%;
    float: left;
    text-align: left;
}


.selectorInput {
    color: black;
}

.intersectionMerge {
    color: rgb(65, 141, 240);
}

.matrixSelector {
    width: 100%;
}
