.sizeInfo {
    width: 25%;
    float: right;
    text-align: right;
}

.selectorInput {
    color: black;
}

.intersectionMerge {
    color: rgb(65, 141, 240);
}

.matrixSelector {
    width: 100%;
}

