.matrixActionsContainer {
    width: fit-content;
    background-color: rgba(50, 50, 50, 0.8);
    --bs-gutter-x: 0px;
    text-align: center;
    max-height: 50vh;
    overflow-y: auto;
    border-top: 1px solid black;
    padding-top: 5px;

}
  