.matrixActionsContainer {
    width: fit-content;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.8);
    --bs-gutter-x: 0px;
    text-align: center;
    max-height: 75vh;
    overflow-y: auto;

}
  