.matrixMathContainer {
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    --bs-gutter-x: 0px;
    max-height: 75vh;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    border-top: 1px solid black;
    padding-top: 5px;
}

.mathInput {
    width: 100%;
    margin-bottom: 1vh;
    color: white;
    display: block;
    margin: auto; 
    padding: 5px

}

.mathInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.reductionName::placeholder, .reductionName::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.detInfo {
    font-size: larger;
}
.title {
    display: block;
}
.mathEvalButton {
    margin: auto; 
    display: block;
    padding: 10px;
    margin-top: 3px;
}

.mathInfo {
    display: block;
    margin: auto; 
}

.nameInput {
    width: 100%;
    display: block;
    margin: auto; 
    padding: 5px


}

.inputBlock {
    display: inline-block;
}
