.matrixMathContainer {
    width: 100%;
    padding: 10px;
    background-color: rgb(48, 50, 51);
    --bs-gutter-x: 0px;
    max-height: 75vh;
    overflow-y: auto;

  
}

.mathInput {
    width: 100%;
    margin-bottom: 1vh;
    color: white;
}

.mathInput::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.mathEvalButton {
    width: 100%;   
    margin: 0; 
}

.mathInfo {
    padding-left: 10px;
}