
.selectionSettingsContainer {
    background-color: rgba(50, 50, 50, 0.8);
    width: 100%;
    text-align: center;
    --bs-gutter-x: 0px;
    pointer-events: none;
    max-height: 50vh;
    border-top: 1px solid black;
    overflow-y: auto;
    padding-top: 5px;
  }

.editSelectedInput {
  width: 25%;
  background-color: rgb(215, 206, 206);
  margin: 1vh;
  padding: 5px;
  color: rgb(215, 206, 206);
  pointer-events: all;
  
}

.editSelectedInput::placeholder {
  color: black;
  text-align: center; 
}


