.importContainer {
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    --bs-gutter-x: 0px;
    text-align: center;
    max-height: 75vh;    
    overflow-y: auto;
    border-top: 1px solid black;

}

.importTextArea {
    color: white;
    width: 100%;
    height: 250px;
    background-color: rgba(125, 120, 125, 0.5);
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: normal;
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;   
}


.importTextArea:focus {
    outline: none !important;
}

.importTextArea::placeholder, .importedMatrixName::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.wsWarning {
    color: rgb(238, 144, 144);
}