.importContainer {
    width: 100%;
    padding: 10px;

    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    --bs-gutter-x: 0px;
    text-align: center;
    max-height: 75vh;    
    overflow-y: auto;
}

.importTextArea {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    background-color: rgb(125, 120, 125);
    color: white;
    padding: 2px;
    resize: none;
}


.importTextArea::placeholder, .importedMatrixName::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.wsWarning {
    color: rgb(238, 144, 144);
}