.box {
    border-radius: 3px;
    padding: 0px !important;
    border: none;
}



.box > input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: center;
}

.box > input:focus {
    outline: none !important;
}

.box > input::placeholder {
    color: rgba(0, 0, 0, 0.25)
}

