
.login {
    background-color: rgb(88, 91, 96);
    border-radius: 15px;
    width: 95%;
    margin: 2.5%;
    margin-top: 1%;
    padding: 10px;
}


.loginForm {
    display: block;
    margin: 0px;
    width: fit-content;
    
}

.inputs {
    margin-left: 5px;
}

.text {
    margin: 0px;
    text-align: center;
}


.loginLabel {
    font-size: small;
    display: block;
    margin-top: 3px;
}
.errorLabel {
    font-size: small;
    display: block;
    margin-top: 0px;
    color: rgb(221, 158, 158);

}

.successLabel {
    font-size: small;
    display: block;
    margin-top: 0px;
    color:rgb(148 212 173);

}

.loginRegisterButton {
    display: block;
    margin-left: 0px;
    margin-top: 5px
}


.closeButton {
    float: right;
    width: fit-content;
    height: fit-content;
}

.clearButton {
    margin-left: 0px;
}

.loginOption {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 15px;
    user-select: none;
}

.registerOption {
    display: inline-block;
    padding: 5px;
    padding-right: 15px;
    user-select: none;

}
.methodSelector {
    border-bottom: 1px solid white;
    padding-left: 0;
}

.loginSubBox {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    border-radius: 5px
}

.changePasswordInput {
    display: block;

}