.navigateBar {
  background-color: rgb(48, 50, 51);
  padding-bottom: 1%;
  margin-top: 0;
  margin-bottom: 5px;
}

.info {
  overflow: auto;
}

.nameSearchBar {
  width: 45%;
  margin-left: 5%;
  margin-bottom: 3px;
  border-radius: 3px;
  padding: 5px;
}

.sizeSearchBar {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 3px;
  border-radius: 3px;
  padding: 5px;
}

.nameSearchBar::placeholder, .sizeSearchBar::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}


.noMatrices {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  color: white;
  border-radius: 5px;

}

.settingsMenu {
  background-color: rgb(88, 91, 96);
  border-radius: 15px;
  width: 95%;
  margin: 2.5%;
  padding: 10px;
}

.savingInfo {
  text-align: center;
  background-color: rgb(47, 45, 45);
  width: 100%;
  padding: 3px;
  border-bottom: 1px solid rgb(39, 37, 37);
}