.navigateBar {
  background-color: rgb(50, 50, 50);
  margin-top: 0px;
  margin-bottom: 1px;
  width: 100%;

}


@media (max-width: 576px) {
  .navigateBar {
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-template-areas: "col-1" "col-3" "col-2";

  }

}

.mainBar {
  margin-top: 10px;
}

.generalTools {
  grid-area: col-1;
  overflow: auto;
  
}

.selectors {
  grid-area: col-2;
  overflow: auto;

}

.matrixTools {
  grid-area: col-3;
  overflow: auto;

}


.nameSearchBar {
  width: 45%;
  margin-left: 5%;
  margin-bottom: 3px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25)
}

.sizeSearchBar {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 3px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25)
}

.nameSearchBar::placeholder, .sizeSearchBar::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}


.noMatrices {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  color: white;
  border-radius: 5px;

}

.settingsMenu {
  background-color: rgb(88, 91, 96);
  border-radius: 15px;
  width: 95%;
  margin: 2.5%;
  padding: 10px;
}

.matrixSelectorContainer {
  min-height: 45px;
  height: 175px;
  max-height: fit-content;
  resize: vertical;
  background-color: rgba(255, 255, 255, 0.1);

}

.toolToggle {
  display: block;
  color: white;
  width: fit-content;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}


.topBar {
  width: 100%;
  height: fit-content;
  background-color: rgb(47, 45, 45);
  border-bottom: 1px solid rgb(39, 37, 37);
}

.savingInfo {
  text-align: center;
  padding: 3px;
  margin: 0px;
  height: fit-content;  
}