.toggle {
    color: white;
    margin: 0;
    margin-left: 5px;
    padding: 5px;
    pointer-events: all;
    cursor: pointer;
    width: fit-content;
}


.toggle:hover {
    color: rgb(164, 101, 101);
}

