.tutorial {
    background-color: rgb(88, 91, 96);
    border-radius: 15px;
    width: 95%;
    margin: 2.5%;
    margin-top: 1%;
    padding: 20px;
    position: relative;
}

.closeTutorial {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: fit-content;
    height: fit-content;
}

.tutorialBody {
    margin-right: 15%;
    font-size: large;
}

.specificTutorial {
    margin-top: 1rem;
}

.tutorialList {
    list-style-type: disc;
    padding-inline-start: 40px;
}

.tutorialButton {
    margin-left: 2px;
    margin-right: 2px;
}