
.tutorial {
    background-color: rgb(88, 91, 96);
    border-radius: 15px;
    width: 95%;
    margin: 2.5%;
    padding: 10px;
}

h1 {
    font-size: x-large;
    text-align: center;
    display: inline-block;
    
}


.closeTutorial {
    float: right;
}

.tutorialBody {
    margin-right: 15%;
    font-size: large;
}

.specificTutorial {
    margin-top: 1rem;
}

.tutorialList {
    list-style-type:disc;
    padding-inline-start: 40px;
}