body {
    overflow-y: scroll;
    margin: 0;
    padding: 0px 0px 48px 0px;
    color: white;
    background-color: rgb(82, 80, 83);
}

input {
    background-color: rgb(125, 120, 125);
    border-radius: 5px;
    color: white;
    border: 1px solid black;

}

h1 {
    font-size: medium;
}


li {
    margin-bottom: 5px;
}

.btn {
    border: 1px solid black;
}

.btn-info {
    background-color: rgb(53, 183, 229);
}

.btn-warning {
    background-color: rgb(240, 221, 93);
}


li {
    list-style-type: none;
}