body {
    overflow-y: scroll;
    margin: 0;
    padding: 0px 0px 48px 0px;
    color: white;
    background-color: rgb(82, 80, 83);
}

input {
    background-color: rgb(125, 120, 125);
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.524);
}



.btn {
    border: 1px solid black;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-info {
    background-color: rgb(53, 183, 229);
}

.btn-warning {
    background-color: rgb(240, 221, 93);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.form-check-input {
    margin-left: 6px;
}


.centeredCol {
    margin-left: auto;
    margin-right: auto;

}


