.floatingMenu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: sticky;
    top: 30px;
}

.selectors {
    width: 45vw;
    overflow: auto;
    background-color: rgba(62, 63, 65, 0.95);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    z-index: 3;
    cursor: grab;


}


@media screen and (max-width: 1133px) {
    .selectors {
        width: 60vw;
    }

    .selectors, .settingsMenu {
        position: relative !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
        left: 0;
    }

}

@media screen and (max-width: 800px) {
    .selectors {
        width: 80vw;
    }
}

@media screen and (max-width: 576px) {
    .selectors {
        width: 95vw;
    }

}


.toggleSelectors {
    padding: 10px;
    background-color: rgb(185, 207, 221);
    margin: 1px;
    color: black;
    width: fit-content;
    border-radius: 10px;

}

.selectors>button {
    width: fit-content;
    text-align: center;

}




.settingsMenu {
    position: absolute;
    background-color: rgba(62, 63, 65, 0.95);
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 240px;
    z-index: 4;
    cursor: grab;

}

.toggleSettings {
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(185, 207, 221);
    color: black;
    margin: 1px;
    padding: 10px;
}

.settingsMenu>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsMenu>div>input {
    margin-left: 5px;
}

.bar {
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    position: sticky;
}

.undoRedo {
    display: inline-block;
}