body {
    overflow-y: scroll;
    overflow-x: none;
    margin: 0;
    padding: 0px 0px 48px 0px;
    color: white;
    background-color: rgb(82, 80, 83);
}


h1 {
    font-size: x-large;
    text-align: center;
    display: inline-block;
    
}

input {
    background-color: rgb(125, 120, 125);
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.btn {
    border: 1px solid black;
    margin: 5px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: #3b79a5;
}

.btn-info {
    background-color: rgb(53, 183, 229);
}

.btn-warning {
    background-color: rgb(240, 221, 93);
}


.form-check-input {
    margin-left: 6px;
}

.list-group {
    max-height: 175px;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 10px;
  }

.list-group > .active {
    color: black;
    background-color: rgb(169, 179, 179);
    border-color: rgb(169, 179, 179);
}

.list-group > button > input {
    border: none;
    background: none;
    width: 25%;
}

