
.matrixTable {
    width: auto !important;
    margin-top: 10px ;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(196, 185, 185);
}

.tableRow {
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}


.table>:not(caption)>*>* {
    padding: 0;
    margin: 0;
    height: 50px;

}



.tableRow:nth-last-child(1) > td {
    background-color: rgb(188, 146, 146);
    max-height: 30px;
    height: 30px;
}


